@media screen and (min-width: 768px) {

  #narration {
    width: 60vw;
    height: 100vh;
    max-width: 500px;
    top: 0;
  }

  #map {
    width: calc(100vw - 460px);
    left: 460px;
    height: 100vh;
    border: 0;
    z-index: 0;
  }

  #title {
    width: 60vw;
    max-width: 500px;
    top: 0;
  }

  .leaflet-control-attribution {
    visibility: visible;
  }

}
/* OVERRIDE: Make storymap header logo larger on desktop */
.storymap-logo img,
#logo img {
  width: 100%;
  max-width: 1200px !important;
  height: auto !important;
  display: block;
  margin: 20px auto !important;
}

.storymap-logo,
#logo {
  height: auto !important;
  line-height: normal !important;
  text-align: center;
  padding: 20px 0 !important;
}
